In [1]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('D:/Data Science/Top_mentor_projects_Datasets-main/Top_mentor_projects_Datasets-main/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [6]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230621 entries, 0 to 230620
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   230621 non-null  object
 1   year    230621 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.5+ MB

In [4]:
cast = pd.read_csv('D:/Data Science/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [7]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3611212 entries, 0 to 3611211
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 165.3+ MB

In [18]:
df = cast.copy()

### What are the ten most common movie names of all time?

In [19]:
d1 = df['title'].value_counts()
d1 = d1.head(10)

In [20]:
d1

Around the World in Eighty Days       1298
7 cajas                                689
Thelma                                 580
The Ten Commandments                   533
The Eschatrilogy: Book of the Dead     517
Catching Faith                         493
The Dark Knight Rises                  452
Welcome to Essex                       448
Cockneys vs Zombies                    437
The Buccaneer                          436
Name: title, dtype: int64

### Which three years of the 1930s saw the most films released?

In [21]:
d2 = df[(df['year']>= 1930) & (data['year']<1940)]
d2 = d2.value_counts('year')
d2.head(3)

year
1937    27437
1936    25794
1938    25205
dtype: int64

### Plot the number of films that have been released each decade over the history of cinema.

In [16]:
import seaborn as sns

In [55]:
df['decade'] = df['year']
df1 = df
df1['decade'] = df1.decade//10*10
df2 = df1.dropna(subset='decade')
df2 = df2['decade'].value_counts()
df2

2010    1065589
2000     745656
1990     381158
1980     282705
1970     214276
1940     211371
1950     210986
1930     198860
1960     186455
1920      71309
1910      42583
2020        191
1900         70
1890          3
Name: decade, dtype: int64

In [ ]:
sns.barplot(x = 'decade', y = df2 , data = df1, errorbar=None)

### Plot the number of "Hamlet" films made each decade.

### Plot the number of "Rustler" characters in each decade of the history of film.

### Plot the number of "Hamlet" characters each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

### Which actors or actresses appeared in the most movies in the year 1985?

### Plot how many roles Mammootty has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?

### Plot the n-values of the roles that Judi Dench has played over her career.

### Plot the n-values of Cary Grant's roles through his career.

### Plot the n-value of the roles that Sidney Poitier has acted over the years.

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?