###  Write a Python program to create a tuple

In [1]:
a = ()
print(a)

()

### Write a Python program to create a tuple with different data types

In [2]:
a = ('Tutor Joes', True, 3.21, 10)
print(a)

('Tutor Joes', True, 3.21, 10)

### Write a Python program to create a tuple with numbers and print one item

In [4]:
b = (10, 2, 4)
print(b[0])
print(type(b))

10
<class 'tuple'>

### Write a Python program to unpack a tuple in several variables

In [5]:
a = 4,8,3
print(tuple(a))

(4, 8, 3)

###  Write a Python program to add an item in a tuple

In [20]:
a = (10, 40, 50, 70, 90)
b = list(a)
b.append(20)
print(tuple(b))

(10, 40, 50, 70, 90, 20)

###  Write a Python program to convert a tuple to a string

In [7]:
a = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
b = ''.join(a)
print(b)

Tutor Joes

###  Write a Python program to get the 4th element and 4th element from last of a tuple

In [8]:
a = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
print("4th Element from tuple : ", a[3])
print("4th Element from last tuple : ", a[-4])

4th Element from tuple :  e
4th Element from last tuple :  u

### Write a Python program to create the clone of a tuple

In [11]:
from copy import deepcopy
a = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
b = deepcopy(a)
print(b)

('Tutor', 'J', 23, 56.67, [23, 12], True)

###  Write a Python program to find the repeated items of a tuple

In [12]:
my_tuple = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
item_counts = {}
for item in my_tuple:
    if item in item_counts:
        item_counts[item] += 1
    else:
        item_counts[item] = 1
repeated_items = {item: count for item, count in item_counts.items() if count > 1}
for item, count in repeated_items.items():
    print(f"item = {item}")
    print(f"Repeated items of a tuple = {count}")

item = 2
Repeated items of a tuple = 3
item = 34
Repeated items of a tuple = 2

### Write a Python program to check whether an element exists within a tuple

In [13]:
a = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
b = 8
c = 'x'
print("8 in Tuple : ", b in a)
print('x in Tuple : ', c in a)

8 in Tuple :  True
x in Tuple :  False

###  Write a Python program to convert a list to a tuple

In [14]:
a = [12, 45, 87, 54, 89, 4]
b = tuple(a)
print(b)

(12, 45, 87, 54, 89, 4)

### Write a Python program to remove an item from a tuple

In [18]:
a = (23, 45, 56, 68, 10, 45, 7, 9)
b = list(a)
b.remove(56)
print(tuple(b))

(23, 45, 68, 10, 45, 7, 9)

###  Write a Python program to slice a tuple

In [21]:
a = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
b = a[3:8]
print(b)

(40, 50, 60, 70, 80)

### Write a Python program to find the index of an item of a tuple

In [23]:
a = (23, 45, 67, 78, 89, 90, 34, 56)
print(a.index(78))

3

### Write a Python program to find the length of a tuple

In [24]:
a = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
print(len(a))

6

### Write a Python program to convert a tuple to a dictionary

In [25]:
a = ( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
b = dict(a)
print(b)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

### Write a Python program to unzip a list of tuples into individual lists

In [26]:
a = [ (10,30), (60,90), (20,50) ]
unzipped_lists = [list(x) for x in zip(*a)]
for item in unzipped_lists:
    print(item)

[10, 60, 20]
[30, 90, 50]

###  Write a Python program to reverse a tuple

In [31]:
def Reverse(a):
    b = a[::-1]
    return b
a =  ( 23, 45, 67, 78, 89, 90, 34, 56 )
print(Reverse(a))

(56, 34, 90, 89, 78, 67, 45, 23)

###  Write a Python program to convert a list of tuples into a dictionary

In [35]:
# Define the list of tuples
list_of_tuples = [
    ("Name", "Ram"),
    ("Name", "Pooja"),
    ("Age", 21),
    ("Gender", "Male"),
    ("Age", 23),
    ("Gender", "Female")
]
result_dict = {}
for key, value in list_of_tuples:
    if key in result_dict:
        result_dict[key].append(value)
    else:
        result_dict[key] = [value]
print(result_dict)

{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

### Write a Python program to print a tuple with string formatting

In [36]:
fruits = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
print("Fruits %s" % (fruits,))

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

### Create a tuple with single item 23

In [43]:
a = (23,)
print(a[0])
print(type(a))

23
<class 'tuple'>

### Unpack the tuple into 5 variables

In [44]:
a = (11,22,33,44,55)
for i in a:
    print(i)

11
22
33
44
55

###  Swap two tuples in Python

In [48]:
a=10
b=20
print("Before Swap A :",a)
print("Before Swap b :",b)
c = b
d = a
print("After Swap A :",c)
print("After Swap b :",d)

Before Swap A : 10
Before Swap b : 20
After Swap A : 20
After Swap b : 10

###  Copy specific elements from one tuple to a new tuple

In [49]:
a = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
b = a[2:8]
print(b)

(30, 40, 50, 60, 70, 80)

### Modify the tuple

In [51]:
a = ( 10, 20, 30, 40, 50 )
a = list(a)
a[2] = 33
print(tuple(a))

(10, 20, 33, 40, 50)

### Sort a tuple of tuples by 2nd item

In [52]:
a = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
b = tuple(sorted(a, key=lambda x: x[1]))
print(a)
print(b)

(('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

###  Counts the number of occurrences of item 30 from a tuple

In [53]:
a = (30, 50, 10, 30, 70, 50, 30)
print(a.count(30))

3

### Write a Python program to compute element-wise sum of given tuples

In [54]:
a = (2, 5, 8)
b = (6, 5, 1)
c = (1, 4, 7)
d = (3, 7, 2)
print("A :",a)
print("B :",b)
print("C :",c)
print("D :",d)
res = tuple(map(sum, zip(a, b, c, d)))
print("Sum of Elements:",res)

A : (2, 5, 8)
B : (6, 5, 1)
C : (1, 4, 7)
D : (3, 7, 2)
Sum of Elements: (12, 21, 18)

### Write a Python program to sort a tuple by its float element

In [58]:
a = [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
b = tuple(sorted(a, key=lambda x:x[-1]))
c = Reverse(b)
print(c)

(('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43'))

### Write a Python program to replace last value of tuples in a list

In [62]:
a = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
b = []
for i in a:
    i = list(i)
    i[-1]= 10
    i = tuple(i)
    b.append(i)
print(b)

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

###  Write a Python program to Extract tuples having K digit elements

In [63]:
val = [(47, 23), (3, 78), (22, 53), (121, 45), (7, )]
print("Original List : " ,val)
K = 2
res = [sub for sub in val if all(len(str(ele)) == K for ele in sub)]
print("Extracted Tuples : " ,res)

Original List :  [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
Extracted Tuples :  [(47, 23), (22, 53)]

###  Write a Python program to Extract Symmetric Tuples

In [65]:
val = [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
temp = set(val) & {(b, a) for a, b in val}
res = {(a, b) for a, b in temp if a < b}
print("The Symmetric tuples : " , res)

The Symmetric tuples :  {(2, 9), (18, 23)}

###  Write a Python program to Sort Tuples by their Maximum element

In [66]:
a = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
b = sorted(list(a))
b.reverse()
print(b)

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

###  Write a Python program to Remove nested records from tuple

In [68]:
a = (10, 20, (30,), 40, (50, 60), 70)
b = []
for i in a:
    if not type(i) is tuple:
        b.append(i)
res=tuple(b)
print("Removal of Nested Tuple : " ,res)

Removal of Nested Tuple :  (10, 20, 40, 70)

###  Write a Python program to Elements Frequency in Mixed Nested Tuple

In [1]:
mixed_nested_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
element_frequency = {}
def count_elements(t):
    for item in t:
        if isinstance(item, tuple):
            count_elements(item)
        else:
            if item in element_frequency:
                element_frequency[item] += 1
            else:
                element_frequency[item] = 1
count_elements(mixed_nested_tuple)
print("Elements Frequency:", element_frequency)

Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

### Write a Python program to get unique elements in nested tuple

In [2]:
nested_tuple = ((1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,))
unique_elements = set(item for subtuple in nested_tuple for item in subtuple)
unique_elements_list = list(unique_elements)
print("Unique Element in Nested Tuples:", unique_elements_list)

Unique Element in Nested Tuples: [1, 2, 3, 4, 5, 6, 7, 9, 10]

###  Write a Python program to Concatenate tuples to nested tuples

In [4]:

a = ((18, 23, 2, 9),)
b = ((10, 3, 11),)
c = a+b
print(c)

((18, 23, 2, 9), (10, 3, 11))

### Write a Python program to Sort by Frequency of second element in Tuple List

In [5]:
tuple_list = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
element_frequency = {}
for _, second_element in tuple_list:
    if second_element in element_frequency:
        element_frequency[second_element] += 1
    else:
        element_frequency[second_element] = 1
sorted_tuple_list = sorted(tuple_list, key=lambda x: element_frequency[x[1]])
print("Sorted List of tuples:", sorted_tuple_list)

Sorted List of tuples: [(9, 8), (2, 5), (6, 5), (2, 7), (3, 7), (8, 7)]

### Write a Python program to Sort lists in tuple

In [8]:
a = ( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
b = tuple(sorted(a, key=lambda x:sorted(x)))
print(b)

([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))

###  Write a Python program to Order Tuples using external List

In [9]:
tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
external_order = ['A', 'B', 'C', 'D']
key_index = {key: index for index, key in enumerate(external_order)}
sorted_tuple_list = sorted(tuple_list, key=lambda x: key_index[x[0]])
print("Ordered Tuple List:", sorted_tuple_list)

Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

### Write a Python program to Filter Tuples by Kth element from List

In [10]:
tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
kth_elements_to_filter = [67, 70, 71, 75]
kth_index = 1
filtered_tuples = [(item, value) for item, value in tuple_list if value in kth_elements_to_filter]
print("Filtered tuples:", filtered_tuples)

Filtered tuples: [('D', 70), ('A', 67)]

### Write a Python program to Closest Pair to Kth index element in Tuple

In [11]:
tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
given_tuple = (20, 2)
kth_index = 1
nearest_tuple = min(tuple_list, key=lambda t: abs(t[kth_index] - given_tuple[kth_index]))
print("Nearest Tuple:", nearest_tuple)

Nearest Tuple: (9, 2)

###  Write a Python program to Tuple List intersection (Order irrespective)

In [15]:
a =  [ (3, 4), (5, 6), (9, 10), (4, 5) ]
b =  [ (5, 4), (3, 4), (6, 5), (9, 11) ]
c = set([tuple(sorted(ele)) for ele in a]) & set([tuple(sorted(ele)) for ele in b])
print(c)

{(4, 5), (5, 6), (3, 4)}

###  Write a Python program to Intersection in Tuple Records Data

In [17]:
a = [ ('A', 65), ('D', 68), ('B', 66) ]
b =  [ ('D', 68), ('C', 67), ('A', 65) ]
c = set(a)&set(b)
print(c)

{('D', 68), ('A', 65)}

### Write a Python program to Unique Tuple Frequency (Order Irrespective)

In [18]:
a = [(3, 4), (1, 2), (4, 3), (5, 6)]
unique_tuples = list(set(tuple(sorted(t)) for t in a))
print("Unique tuples Frequency:", unique_tuples)
print("Unique tuples Frequency Count:", len(unique_tuples))

Unique tuples Frequency: [(1, 2), (3, 4), (5, 6)]
Unique tuples Frequency Count: 3

###  Write a Python program to Skew Nested Tuple Summation

In [20]:
a = (1, (2, (3, (4, (5, None)))))
total = 0
while a is not None:
    total += a[0]
    a = a[1]
print("Summation of 1st positions:", total)

Summation of 1st positions: 15

###  Write a Python program to Convert Binary tuple to Integer

In [21]:
a = (1, 0, 1, 0)
decimal_number = int(''.join(map(str, a)), 2)
print("Decimal number is:", decimal_number)

Decimal number is: 10

###  Write a Python program to Tuple XOR operation

In [22]:
a = (10, 4, 6, 9)
b = (5, 2, 3, 3)
xor_tuple = tuple(x ^ y for x, y in zip(a,b))
print("XOR tuple:", xor_tuple)

XOR tuple: (15, 6, 5, 10)

###  Write a Python program to AND operation between Tuples

In [23]:
a = (10, 4, 6, 9)
b = (5, 2, 3, 3)
and_tuple = tuple(x & y for x, y in zip(a,b))
print("AND operation Between Tuple:", and_tuple)

AND operation Between Tuple: (0, 0, 2, 1)

### Write a Python program to Elementwise AND in tuples

In [24]:
a = (10, 4, 6, 9)
b = (5, 2, 3, 3)
and_tuple = tuple(x & y for x, y in zip(a,b))
print("Elementwise AND Tuple:", and_tuple)

Elementwise AND Tuple: (0, 0, 2, 1)